body {
    font-family: Arial, sans-serif;
}

/* Navbar */

#navbar {
    margin-top: 30px;;
    position: relative;
}

#a1 {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 210px;
}

#a2 {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 160px;
}

#navbar img{
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 120px;;
    opacity: 0.6;
}

#login{
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 23px;
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(22, 122, 253);
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    opacity: 0.9;
    cursor: pointer;
}

#a1:hover {
    color: #6d6d6d;
    text-decoration: underline;
}

#a2:hover {
    color: #6d6d6d;
    text-decoration: underline;
}

#navbar img:hover {
    opacity: 1;
}

/* Main area */
#main {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 482px;
}

#main #google{
    display: block;
    width: 275px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#search-box {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 2.9em;
    border: none;
    margin-bottom: 30px;
}

#main input {
    font-size: 15px;
    border: #ffffff;
    outline: none;
    position: relative;
    width: 437px;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 44px;
    height: 2.9em;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 25px;
    cursor: text;
}

#main input:hover {
    box-shadow: 0 0 5px 1px #dadada;
}

#main input:focus {
    box-shadow: 0 0 5px 1px #dadada;
}

#img-1 {
    height: 1.25em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 12px;
    z-index: 2;
}

#img-2 {
    height: ;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 60px;
    z-index: 2;
}

#img-3 {
    height: 1.25em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    z-index: 2;
}

#main button {
    margin: 0 3px 30px 3px;
    border: 0.5px solid #fff;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    padding: 9px 16px;
    font-size: 14px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

#main button:hover {
    color: #000;
    border: 0.5px solid #bbb;
}

#main p {
    font-size: 12px;
}


/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 15px;
    padding: 13.5px 30px;
    background-color: #f4f4f4;
    border-top: 0.3px solid #dad9d9;
    color: #777;
}

footer ul {
    font-size: 13px;
    padding: 13.5px 30px;
    background-color: #f4f4f4;
    border-top: 0.3px solid #dad9d9;
}

ul a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #777;
}

li {
    display: inline;
    padding-right: 25px;
}

li:nth-child(5), li:nth-child(6), li:nth-child(7) {
    float: right;
}

li:hover {
    text-decoration: underline;
}